<form action="/user/csv" method="POST">

    <div class="form-group">
        <a href="/index1">Import</a>
    </div>
    <div class="form-group">
        </divclass>
        <a href="/index2">Export</a>
    </div>
    
</form>